#include <windows.h>

#define IDB_background	11
IDB_background BITMAP "img/bg.bmp"
#define IDB_no0	0
IDB_no0 BITMAP "img/0.bmp"
#define IDB_no1	1
IDB_no1 BITMAP "img/1.bmp"
#define IDB_no2	2
IDB_no2 BITMAP "img/2.bmp"
#define IDB_no3	3
IDB_no3 BITMAP "img/3.bmp"
#define IDB_no4	4
IDB_no4 BITMAP "img/4.bmp"
#define IDB_no5	5
IDB_no5 BITMAP "img/5.bmp"
#define IDB_no6	6
IDB_no6 BITMAP "img/6.bmp"
#define IDB_no7	7
IDB_no7 BITMAP "img/7.bmp"
#define IDB_no8	8
IDB_no8 BITMAP "img/8.bmp"
#define IDB_no9	9
IDB_no9 BITMAP "img/9.bmp"
#define IDB_space 10
IDB_space BITMAP "img/space.bmp"


#define IDM_MENU1 1
#define CM_2x2 1012
#define CM_3x3 1013
#define CM_4x4 1014
#define CM_5x5 1015
#define CM_6x6 1016
#define CM_7x7 1017
#define CM_8x8 1018
#define CM_9x9 1019
#define CM_LOAD 102
#define CM_SAVE 103
#define CM_EXIT 104
#define CM_HINT 201
#define CM_UNDO 202
#define CM_MANUAL 401
#define CM_ABOUT 402
#define CM_5 301
#define CM_10 302
#define CM_20 303
#define CM_30 304
#define CM_60 305
#define CM_120 306
#define CM_240 307
#define CM_INFINITY 308


IDM_MENU1 MENU
{
 POPUP "File(&F)"
 {
  POPUP "Restart"
  {
      MENUITEM "2 x 2\tF2", 1012
      MENUITEM "3 x 3\tF3", 1013
      MENUITEM "4 x 4\tF4", 1014
      MENUITEM "5 x 5\tF5", 1015
      MENUITEM "6 x 6\tF6", 1016
      MENUITEM "7 x 7\tF7", 1017 
      MENUITEM "8 x 8\tF8", 1018
      MENUITEM "9 x 9\tF9", 1019
  }  
  MENUITEM "Load...\tCtrl+O", 102
  MENUITEM "Save...\tCtrl+S", 103
  MENUITEM "Exit\tAlt+F4", 104
 }
 POPUP "Option(&O)"
 {
  MENUITEM "Hint\tCtrl+H", 201
  MENUITEM "Undo\tCtrl+U", 202
}
  POPUP "Time Limit(&T)"
  {
   MENUITEM "5s", 301
   MENUITEM "10s", 302
   MENUITEM "20s", 303
   MENUITEM "30s", 304
   MENUITEM "60s", 305
   MENUITEM "120s", 306
   MENUITEM "240s", 307
   MENUITEM "Infinity", 308, CHECKED
  }
  POPUP "Help(&H)"
  {
   MENUITEM "Manual\tF1", 401
   MENUITEM "About\tCtrl+A", 402
   }
}

IDA_ACCEL1 ACCELERATORS 
{
 VK_F2, 1012, NOINVERT, VIRTKEY
 VK_F3, 1013, NOINVERT, VIRTKEY
 VK_F4, 1014, NOINVERT, VIRTKEY
 VK_F5, 1015, NOINVERT, VIRTKEY
 VK_F6, 1016, NOINVERT, VIRTKEY
 VK_F7, 1017, NOINVERT, VIRTKEY
 VK_F8, 1018, NOINVERT, VIRTKEY
 VK_F9, 1019, NOINVERT, VIRTKEY
 "L", 102, NOINVERT, CONTROL, VIRTKEY
 "S", 103, NOINVERT, CONTROL, VIRTKEY
 "H", 201, NOINVERT, CONTROL, VIRTKEY
 "U", 202, NOINVERT, CONTROL, VIRTKEY
 VK_F1, 401, NOINVERT, VIRTKEY
 "A", 402, NOINVERT, CONTROL, VIRTKEY
 VK_F4, 104, NOINVERT, ALT, VIRTKEY
}

#define IDI_ICON1 1
IDI_ICON1 ICON "img/icon.ico"
